# FreePascal specific
*.o
*.ppu
*.a
*.so
*.dll
*.dylib
*.compiled

# Directories
obj/
out/
bin/

# Backup files
*~
*.bak
*.backup

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Executable
main
